body {
			background-color: red;
		}

	/*CIRCLE*/

/*O*/


	.circle {
		position: absolute;
		width: 150px;
		height: 150px;
		border: 50px solid white;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 100px;
		bottom: 100px;
		right: 100px;
		left: 100px;
	}
	.circle2 {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid red;
		border-radius: 30px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 125px;
		bottom: 100px;
		right: 100px;
		left: 125px;
	}

	.circlewhite{
		position: absolute;
		width: 100px;
		height: 100px;
		border: 30px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 145px;
		bottom: 100px;
		right: 100px;
		left: 145px;
	}

	/*TRAPEZOID*/

	.trapezoid {
		position: absolute;
	border-bottom: 300px solid white;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 10px;
	width: 100px;
	top: 500px;
	bottom: 100px;
	right: 100px;
	left: 165px;
}
.trapezoidRed {
	position: absolute;
	border-bottom: 300px solid red;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	height: 10px;
	width: 30px;
	top: 500px;
		bottom: 100px;
		right: 100px;
		left: 175px;
}
.trapezoidsmallRed {
	position: absolute;
	border-bottom: 50px solid white;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 10px;
	width: 10px;
	top: 750px;
		bottom: 100px;
		right: 100px;
		left: 220px;
}
/*A*/

.triangleA {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 150px solid #FF0000;
	top: 675px;
	bottom: 100px;
	right: 100px;
	left: 215px;
}
.triangleAline {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 220px solid #FFFFFF;
	top: 590px;
	bottom: 100px;
	right: 100px;
	left: 195px;
}

/*P*/

.circleBigP {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 300px;
		bottom: 100px;
		right: 100px;
		left: 500px;
	}
	.squarecounterP{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 320px;
		bottom: 100px;
		right: 500px;
		left: 525px;
	}
	.circlelineP {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 325px;
		bottom: 100px;
		right: 500px;
		left: 530px;
	}
.square {
		position: absolute;
		width: 20px;
		height: 200px;
		border: 20px solid white;
		top: 400px;
		bottom: 100px;
		right: 100px;
		left: 500px;
	}


/*H*/


.squareH {
		position: absolute;
		width: 20px;
		height: 300px;
		border: 20px solid white;
		top: 600px;
		bottom: 200px;
		right: 300px;
		left: 700px;
	}
	.squareH2 {
		position: absolute;
		width: 20px;
		height: 300px;
		border: 20px solid white;
		top: 600px;
		bottom: 200px;
		right: 500px;
		left: 800px;
	}
	.squareBar {
		position: absolute;
		width: 100px;
		height: 10px;
		border: 20px solid white;
		top: 750px;
		bottom: 200px;
		right: 500px;
		left: 700px;
	}

	/*B*/


	.squareB {
		position: absolute;
		width: 20px;
		height: 200px;
		border: 20px solid white;
		background: #FFFFFF;
		top: 1000px;
		bottom: 1000px;
		right: 400px;
		left: 300px;
	}
	.circletopB {
		position: absolute;
		width: 80px;
		height: 80px;
		border: 20px solid white;
		background: #FFFFFF; 
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 999px;
		bottom: 1000px;
		right: 400px;
		left: 300px;
	}
.circlebottomB {
		position: absolute;
		width: 125px;
		height: 125px;
		border: 20px solid white;
		background: #FFFFFF;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1080px;
		bottom: 1000px;
		right: 400px;
		left: 300px;
	}
	.circlecounterB {
		position: absolute;
		width: 60px;
		height: 60px;
		border: 0px solid white;
		background: #FF0000;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1135px;
		bottom: 1000px;
		right: 400px;
		left: 355px;
	}
		.circlecounterBtop {
		position: absolute;
		width: 30px;
		height: 30px;
		border: 0px solid white;
		background: #FF0000;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1045px;
		bottom: 1000px;
		right: 400px;
		left: 345px;
	}
	.circlelineB {
		position: absolute;
		width: 60px;
		height: 60px;
		border: 20px solid red;
		border-radius: 30px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1010px;
		bottom: 1000px;
		right: 400px;
		left: 310px;
	}
	.circlelineBbottom {
		position: absolute;
		width: 90px;
		height: 90px;
		border: 20px solid red;
		border-radius: 30px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1100px;
		bottom: 1000px;
		right: 400px;
		left: 320px;
	}

	/*C*/


	.circleC {
		position: absolute;
		width: 150px;
		height: 150px;
		border: 50px solid white;
		background: #FFFFFF;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 100px;
		bottom: 100px;
		right: 600px;
		left: 800px;
	}
	.circle2C {
		position: absolute;
		width: 150px;
		height: 150px;
		border: 20px solid red;
		border-radius: 30px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 130px;
		bottom: 100px;
		right: 600px;
		left: 830px;
	}
	.circleCcenter {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 0px solid red;
		background: #FF0000;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 175px;
		bottom: 100px;
		right: 600px;
		left: 875px;
	}
	.triangleC {
		position: absolute;
	width: 100;
	height: 0;
	border-top: 60px solid transparent;
	border-right: 120px solid #FF0000;
	border-bottom: 60px solid transparent;
	top: 170px;
	bottom: 100px;
	right: 600px;
	left: 945px;
}

/*D*/


	.squareD {
		position: absolute;
		width: 70px;
		height: 200px;
		border: 20px solid white;
		background: #FFFFFF;
		top: 1500px;
		bottom: 1000px;
		right: 400px;
		left: 300px;
	}
		.circleD {
		position: absolute;
		width: 140px;
		height: 140px;
		border: 50px solid white;
		background: #FFFFFF;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1500px;
		bottom: 1000px;
		right: 450px;
		left: 300px;
	}
	.circleD2 {
		position: absolute;
		width: 175px;
		height: 175px;
		border: 20px solid red;
		border-radius: 30px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1515px;
		bottom: 1000px;
		right: 450px;
		left: 305px;
	}
	.circleD3 {
		position: absolute;
		width: 125px;
		height: 125px;
		border: 0px solid red;
		background: #FF0000;
		border-radius: 30px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1560px;
		bottom: 1000px;
		right: 450px;
		left: 350px;
	}

	/*E*/


	.squareE {
		position: absolute;
		width: 20px;
		height: 220px;
		border: 20px solid white;
		background: #FFFFFF;
		top: 1200px;
		bottom: 1000px;
		right: 400px;
		left: 600px;
	}
	.squareEtop {
		position: absolute;
		width: 150px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1200px;
		bottom: 1000px;
		right: 400px;
		left: 600px;
	}
	.squareEmiddle {
		position: absolute;
		width: 120px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1300px;
		bottom: 1000px;
		right: 400px;
		left: 600px;
	}
	.squareEbottom {
		position: absolute;
		width: 150px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1400px;
		bottom: 1000px;
		right: 400px;
		left: 600px;
	}

	/*F*/


	.squareF {
		position: absolute;
		width: 20px;
		height: 220px;
		border: 20px solid white;
		background: #FFFFFF;
		top: 1100px;
		bottom: 1000px;
		right: 400px;
		left: 900px;
	}
	.squareFtop {
		position: absolute;
		width: 150px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1100px;
		bottom: 1000px;
		right: 400px;
		left: 900px;
	}
	.squareFmiddle {
		position: absolute;
		width: 120px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1200px;
		bottom: 1000px;
		right: 400px;
		left: 900px;
	}


	/*I*/


	.squareI {
		position: absolute;
		width: 20px;
		height: 220px;
		border: 20px solid white;
		background: #FFFFFF;
		top: 1300px;
		bottom: 1000px;
		right: 400px;
		left: 100px;
	}
	.squareImiddle {
		position: absolute;
		width: 120px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1300px;
		bottom: 1000px;
		right: 400px;
		left: 50px;
	}
	.squareIbottom {
		position: absolute;
		width: 120px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1500px;
		bottom: 1000px;
		right: 400px;
		left: 50px;
	}


	/*L*/


	.squareL {
		position: absolute;
		width: 20px;
		height: 220px;
		border: 20px solid white;
		top: 470px;
		bottom: 1000px;
		right: 400px;
		left: 950px;
	}
	.squareLbottom {
		position: absolute;
		width: 120px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 670px;
		bottom: 1000px;
		right: 400px;
		left: 950px;
	}


	/*T*/ 


	.squareT {
		position: absolute;
		width: 20px;
		height: 220px;
		border: 20px solid white;
		top: 1500px;
		bottom: 1000px;
		right: 400px;
		left: 950px;
	}
	.squareTtop {
		position: absolute;
		width: 150px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1500px;
		bottom: 1000px;
		right: 400px;
		left: 890px;
	}


	/*Y*/


	.triangleY {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FFFFFF;
	top: 100px;
	bottom: 1000px;
	right: 400px;
	left: 1200px;
}
.triangleYcounter {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FF0000;
	top: 50px;
	bottom: 1000px;
	right: 400px;
	left: 1200px;
}
.triangleYcounter {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FF0000;
	top: 50px;
	bottom: 1000px;
	right: 400px;
	left: 1200px;
}
.triangleYcounter-white {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FFFFFF;
	top: 20px;
	bottom: 1000px;
	right: 400px;
	left: 1200px;
}
.triangleYcounter-red {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FF0000;
	top: -20px;
	bottom: 1000px;
	right: 400px;
	left: 1200px;
}
.squareY {
		position: absolute;
		width: 160px;
		height: 60px;
		border: 20px solid red;
		background: #FF0000;
		top: 0px;
		bottom: 1000px;
		right: 400px;
		left: 1200px;
	}
	.squareYstem {
		position: absolute;
		width: 20px;
		height: 120px;
		border: 20px solid white;
		top: 200px;
		bottom: 1000px;
		right: 400px;
		left: 1270px;
	}

	/*X*/

	.triangleX {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FFFFFF;
	top: 1600px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.triangleXtop-red {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 150px solid #FF0000;
	top: 1475px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.triangleXbottom {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 175px solid #FFFFFF;
	top: 1650px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.triangleXbottom-red {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 175px solid #FF0000;
	top: 1700px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.triangleXbottom-white {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 175px solid #FFFFFF;
	top: 1750px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.triangleXcounter-red {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FF0000;
	top: 1550px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.triangleXcounter-white {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 175px solid #FFFFFF;
	top: 1500px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.triangleXbottom2-red {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 175px solid #FF0000;
	top: 1800px;
	bottom: 1000px;
	right: 400px;
	left: 600px;
}
.squareX {
		position: absolute;
		width: 180px;
		height: 80px;
		border: 20px solid red;
		background: #FF0000;
		top: 1475px;
		bottom: 1500px;
		right: 400px;
		left: 600px;
	}
	.squareXbottom {
		position: absolute;
		width: 180px;
		height: 80px;
		border: 20px solid red;
		background: #FF0000;
		top: 1825px;
		bottom: 1500px;
		right: 400px;
		left: 600px;
	}

	.circleQ {
		position: absolute;
		width: 150px;
		height: 150px;
		border: 40px solid white;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 800px;
		bottom: 100px;
		right: 100px;
		left: 1000px;
	}
	.circleQ2 {
		position: absolute;
		width: 50px;
		height: 50px;
		border: 30px solid white;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 860px;
		bottom: 100px;
		right: 100px;
		left: 1060px;
	}
	.squareQbottom {
		position: absolute;
		width: 70px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 975px;
		bottom: 1000px;
		right: 100px;
		left: 1150px;
	}
		.triangleV {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid #FFFFFF;
	top: 1800px;
	bottom: 1000px;
	right: 400px;
	left: 100px;
}
	.triangleV-red {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid #FF0000;
	top: 1750px;
	bottom: 1000px;
	right: 400px;
	left: 100px;
}
	.triangleV-white {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid #FFFFFF;
	top: 1700px;
	bottom: 1000px;
	right: 400px;
	left: 100px;
}
	.triangleV2-red {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid #FF0000;
	top: 1650px;
	bottom: 1000px;
	right: 400px;
	left: 100px;
}
.squareV {
		position: absolute;
		width: 160px;
		height: 55px;
		border: 20px solid red;
		background: #FF0000;
		top: 1700px;
		bottom: 1000px;
		right: 400px;
		left: 100px;
	}
	.circleG {
		position: absolute;
		width: 175px;
		height: 175px;
		border: 40px solid white;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1700px;
		bottom: 100px;
		right: 100px;
		left: 1075px;
	}
	.circleG2 {
		position: absolute;
		width: 75px;
		height: 75px;
		border: 30px solid white;
		border-radius: 50px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1760px;
		bottom: 100px;
		right: 100px;
		left: 1135px;
	}
	.triangleG {
		position: absolute;
	width: 100;
	height: 0;
	border-top: 130px solid transparent;
	border-right: 150px solid #FF0000;
	border-bottom: 0px solid transparent;
	top: 1720px;
	bottom: 100px;
	right: 600px;
	left: 1200px;
}
.squareG {
		position: absolute;
		width: 20px;
		height: 90px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 1835px;
		bottom: 1000px;
		right: 400px;
		left: 1285px;
	}

	/*R*/


	.circleBigR {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1845px;
		bottom: 100px;
		right: 100px;
		left: 500px;
	}
	.squarecounterR{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1870px;
		bottom: 100px;
		right: 500px;
		left: 525px;
	}
	.circlelineR {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1875px;
		bottom: 100px;
		right: 500px;
		left: 530px;
	}
	.squareR {
		position: absolute;
		width: 20px;
		height: 200px;
		border: 20px solid white;
		top: 1935px;
		bottom: 100px;
		right: 100px;
		left: 500px;
	}
	.parallelogram {
		position: absolute;
	width: 20px;
	height: 140px;
	transform: skew(20deg);
	background: #FF0000;
	border: 20px solid white;
	top: 2000px;
		bottom: 100px;
		right: 100px;
		left: 620px;
}
.circleBigS {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1395px;
		bottom: 100px;
		right: 100px;
		left: 1150px;
	}
	.squarecounterS{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1420px;
		bottom: 100px;
		right: 500px;
		left: 1175px;
	}
	.circlelineS {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1425px;
		bottom: 100px;
		right: 500px;
		left: 1180px;
	}
	.circleBigS2 {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1270px;
		bottom: 100px;
		right: 100px;
		left: 1150px;
	}
	.squarecounterS2{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1295px;
		bottom: 100px;
		right: 500px;
		left: 1175px;
	}
	.circlelineS2 {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 1300px;
		bottom: 100px;
		right: 500px;
		left: 1180px;
	}
	.triangletopS {
		position: absolute;
	width: 100;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 150px solid #FF0000;
	border-bottom: 100px solid transparent;
	top: 1350px;
	bottom: 100px;
	right: 600px;
	left: 1250px;
}
.trianglebottomS {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-left: 130px solid #FF0000;
	border-bottom: 00px solid transparent;
	top: 1395px;
	bottom: 100px;
	right: 600px;
	left: 1125px;
}
.squareK {
		position: absolute;
		width: 20px;
		height: 200px;
		border: 20px solid white;
		top: 1950px;
		bottom: 100px;
		right: 100px;
		left: 800px;
	}
	.parallelogramK {
		position: absolute;
	width: 20px;
	height: 100px;
	transform: skew(20deg);
	background: #FF0000;
	border: 20px solid white;
	top: 2050px;
		bottom: 100px;
		right: 100px;
		left: 880px;
}
.parallelogramtopK {
		position: absolute;
	width: 20px;
	height: 70px;
	transform: skew(-20deg);
	background: #FF0000;
	border: 20px solid white;
	top: 1950px;
		bottom: 100px;
		right: 100px;
		left: 875px;
}

/*J*/


.circleBigJ {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2200px;
		bottom: 100px;
		right: 100px;
		left: 200px;
	}
	.squarecounterJ{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2220px;
		bottom: 100px;
		right: 500px;
		left: 225px;
	}
	.circlelineJ {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2225px;
		bottom: 100px;
		right: 500px;
		left: 230px;
	}
	.squareJ {
		position: absolute;
		width: 20px;
		height: 200px;
		border: 20px solid white;
		top: 2060px;
		bottom: 100px;
		right: 100px;
		left: 340px;
	}

	/*Z*/


	.parallelogramZ {
		position: absolute;
	width: 30px;
	height: 220px;
	transform: skew(-35deg);
	background: #FF0000;
	border: 20px solid white;
	top: 2300px;
		bottom: 100px;
		right: 100px;
		left: 1040px;
}
.squareZtop {
		position: absolute;
		width: 150px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 2300px;
		bottom: 100px;
		right: 100px;
		left: 980px;
	}
	.squareZbottom {
		position: absolute;
		width: 150px;
		height: 20px;
		border: 20px solid white;
		border-radius: 30px 30px 30px 30px;
		top: 2500px;
		bottom: 100px;
		right: 100px;
		left: 980px;
	}

	/*N*/


	.circleBigN {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2300px;
		bottom: 100px;
		right: 100px;
		left: 500px;
	}
	.squarecounterN{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2320px;
		bottom: 100px;
		right: 500px;
		left: 525px;
	}
	.circlelineN {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2325px;
		bottom: 100px;
		right: 500px;
		left: 530px;
	}
	.squareN1 {
		position: absolute;
		width: 20px;
		height: 170px;
		border: 20px solid white;
		top: 2385px;
		bottom: 100px;
		right: 100px;
		left: 501px;
	}
	.squareN2 {
		position: absolute;
		width: 20px;
		height: 170px;
		border: 20px solid white;
		top: 2385px;
		bottom: 100px;
		right: 100px;
		left: 639px;
	}

	/*U*/

	.circleBigU {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 800px;
		bottom: 100px;
		right: 100px;
		left: 400px;
	}
	.squarecounterU{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 820px;
		bottom: 100px;
		right: 500px;
		left: 425px;
	}
	.circlelineU {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 825px;
		bottom: 100px;
		right: 500px;
		left: 430px;
	}
	.squareU1 {
		position: absolute;
		width: 20px;
		height: 170px;
		border: 20px solid white;
		top: 700px;
		bottom: 100px;
		right: 100px;
		left: 401px;
	}
	.squareU2 {
		position: absolute;
		width: 20px;
		height: 170px;
		border: 20px solid white;
		top: 700px;
		bottom: 100px;
		right: 100px;
		left: 539px;
	}

/*M*/


	.circleBigM {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2700px;
		bottom: 100px;
		right: 100px;
		left: 150px;
	}
	.squarecounterM{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2720px;
		bottom: 100px;
		right: 500px;
		left: 175px;
	}
	.circlelineM {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2725px;
		bottom: 100px;
		right: 500px;
		left: 180px;
	}
	.squareM1 {
		position: absolute;
		width: 20px;
		height: 190px;
		border: 20px solid white;
		top: 2815px;
		bottom: 100px;
		right: 100px;
		left: 151px;
	}
	.squareM2 {
		position: absolute;
		width: 20px;
		height: 190px;
		border: 20px solid white;
		top: 2815px;
		bottom: 100px;
		right: 100px;
		left: 307px;
	}
	.circleBigM2 {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2700px;
		bottom: 100px;
		right: 100px;
		left: 325px;
	}
	.squarecounterM2{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2720px;
		bottom: 100px;
		right: 500px;
		left: 350px;
	}
	.circlelineM2 {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 2725px;
		bottom: 100px;
		right: 500px;
		left: 355px;
	}
	.squareM3 {
		position: absolute;
		width: 20px;
		height: 190px;
		border: 20px solid white;
		top: 2815px;
		bottom: 100px;
		right: 100px;
		left: 464px;
	}

	/*W*/


	.circleBigW {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 3000px;
		bottom: 100px;
		right: 100px;
		left: 725px;
	}
	.squarecounterW{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 3020px;
		bottom: 100px;
		right: 500px;
		left: 750px;
	}
	.circlelineW {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 3025px;
		bottom: 100px;
		right: 500px;
		left: 755px;
	}
	.circleBigW2 {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 50px solid white;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 3000px;
		bottom: 100px;
		right: 100px;
		left: 905px;
	}
	.squarecounterW2{
		position: absolute;
		width: 50px;
		height: 50px;
		border: 50px solid white;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 3020px;
		bottom: 100px;
		right: 500px;
		left: 930px;
	}
	.circlelineW2 {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 20px solid red;
		border-radius: 10px;
		-moz-border-radius:50%;
		-webkit-border-radius: 50%;
		top: 3025px;
		bottom: 100px;
		right: 500px;
		left: 935px;
	}
	.parallelogramW {
		position: absolute;
	width: 30px;
	height: 220px;
	transform: skew(-15deg);
	background: #FF0000;
	border: 20px solid white;
	top: 2875px;
		bottom: 100px;
		right: 100px;
		left: 1060px;
}
	.parallelogramW2 {
		position: absolute;
	width: 30px;
	height: 220px;
	transform: skew(15deg);
	background: #FF0000;
	border: 20px solid white;
	top: 2875px;
		bottom: 100px;
		right: 100px;
		left: 700px;
}